<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Livraria Astec - Carrinho</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>




    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

</head>

<body>

    <div class="ajustar">
        <br>
    </div>
    <div class="container">
        <div class="row">
            <!-- INICIO DA LISTAGEM DE PRODUTOS -->
            <div class="col-12">

                <div class="row">



                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Carrinho</li>
                            </ol>
                        </nav>
                        <h3 style="margin-bottom:20px">Meu Carrinho (x Itens)</h3>
                        
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <h5>Item(s)</h5>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <h5>Preço</h5>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <h5>Quantidade</h5>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <h5>Subtotal</h5>
                    </div>
                    <br>
                    <br>
                    <!-- INICIO PRODUTO -->
                    <div class="row">
                        <div th:each="p : ${@carrinhoController.itens}">
                            <div class="col-12 product border-top border-bottom" style="width: 100%;margin-left:0px;margin-right:0px; padding:3px;">
                                <div class="row" style="width: 100%;margin-left:0px;margin-right:0px">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="row" style="width:100%;margin-left:0px;margin-right:0px">
                                            <div class="col-4">
                                                <img class="img-fluid" src="./imagens/products/15.jpg" alt="Card image cap">
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title" style="font-size:17px" th:text="${p.produto.nome}">Aqui vai o Titulo do Livro</h5>
                                                <h6 style="font-size:12px;color: darkgrey" th:text="${p.produto.fabricante}">-Autor do livro</h6>
                                            </div>

                                            <div class="w-100"></div>
                                            <div class="col offset-4  d-block d-md-none">
                                                <br>
                                                <a class="material-icons" href="#" style="color: #007bff;font-size:15px;">remove_circle_outline</a>
                                                <span style="font-size:20px" th:text="${p.qtd}">1</span>
                                                <a class="material-icons" href="#" style="color: #007bff;font-size:15px">add_circle_outline</a>
                                            </div>
                                            <div class="col  d-block d-md-none" style="text-align:right;margin-top:10px">
                                                <br>
                                                <label style="color: #4CAF50">
                                                    <span style="font-size: 12px" th:text="|R$ ${p.valorParcial}|"></span> 9999,99</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <br>
                                        <label style="color: #4CAF50;font-size: 25px">
                                            <span style="font-size: 25px" th:text="|R$ ${p.valorParcial}|"></label>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <a class="material-icons" href="#" style="color: #007bff;font-size:20px;">remove_circle_outline</a>
                                        <span style="font-size:25px" th:text="${p.qtd}">2</span>
                                        <a class="material-icons" href="#" style="color: #007bff;font-size:20px">add_circle_outline</a>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <br>
                                        <label style="color: #4CAF50;font-size: 25px">
                                            <span style="font-size: 12px">R$</span> 444,00</label>
                                    </div>

                                </div>
                                <a class="material-icons" href="#" style="color:red;position: absolute; top:3px;right:7px">delete_forever</a>
                            </div>
                        </div>
                        <!-- FIM PRODUTO -->
                        <br>
                    </div>
                </div>
                <!-- FIM DA LISTAGEM DE PRODUTOS -->
                <br>
                <br>
                <div class="row">
                    <!-- INICIO DO INPUT DE DESCONTO -->
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <h6 style="color:#007bff">Incluir desconto ou vale presente</h6>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-primary" type="button">
                                            <i class="material-icons">card_giftcard</i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- FIM DO INPUT DE DESCONTO -->


                    <!-- INICIO DA FINALIZAÇAO DA COMPRA -->
                    <div class="col-sm-12 col-md-6  border-left border-primary">
                        <div class="row">
                            <div class="col">
                                <label for="">Subtotal (x Itens)</label>
                            </div>
                            <div class="col" style="text-align:right">
                                <label for="">R$
                                    <span>444,00</span>
                                </label>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <label for="">Frete:</label>
                            </div>
                            <div class="col" style="text-align:right">

                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="CEP" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">Ok</button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <label for="">Valor total a pagar:</label>
                            </div>
                            <div class="col" style="text-align:right">
                                <label for="" style="color:lightgray;font-size:12px;text-decoration: line-through">De R$ 500,00</label>
                                <br>
                                <label style="color: #4CAF50;font-size: 25px">
                                    <span style="font-size: 12px">R$</span> 444,00</label>

                            </div>
                            <div class="w-100"></div>
                            <div class="col d-none d-md-block">
                                <div style="padding: 20px;">
                                    <button class="btn btn-success btn-block">FINALIZAR VENDA</button>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- FIM DA FINALIZAÇAO DA COMPRA -->

                </div>


            </div>
        </div>





    </div>
    <footer>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid" style="width:100%">
                <div class="row justify-content-center" style="width:100%">
                    <div class="col-12 col-md-3">
                        <button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                            Conta
                        </button>
                        <div class="collapse navbar-collapse btn-block" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2"
                            aria-expanded="false" aria-label="Toggle navigation">
                            Contato
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav2">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3"
                            aria-expanded="false" aria-label="Toggle navigation">
                            Ofertas
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav3">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 justify-content-sm-center">
                        <div class="row">
                            <div class="col-12">
                                <label class="navbar-toggler btn-block" style="font-size:15px">Midias sociais</label>
                                <div class="row justify-content-start">
                                    <div class="col">
                                        <img src="./imagens/redes-sociais/facebook.png" class="img-fluid" alt="logo facebook">
                                    </div>
                                    <div class="col">
                                        <img src="./imagens/redes-sociais/twitter.png" class="img-fluid" alt="logo twitter">
                                    </div>
                                    <div class="col">
                                        <img src="./imagens/redes-sociais/youtube.png" class="img-fluid" alt="logo youtube">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="navbar-toggler btn-block" style="font-size:15px">Metodos de pagamento</label>
                                <br>
                                <img src="./imagens/payment_methods.png" class="img-fluid" alt="Payments Methods">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:80%">
            <div class="modal-content">
                <div class="modal-header btn btn-primary">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color:#ffffff">Categorias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">Drama</a>
                        <a href="#" class="list-group-item list-group-item-action">Romance</a>
                        <a href="#" class="list-group-item list-group-item-action">Suspense</a>
                        <a href="#" class="list-group-item list-group-item-action">Ficção Cientifica</a>
                        <a href="#" class="list-group-item list-group-item-action">Fantasia</a>
                        <a href="#" class="list-group-item list-group-item-action">Aventura</a>
                        <a href="#" class="list-group-item list-group-item-action">Comédia</a>
                        <a href="#" class="list-group-item list-group-item-action">Terror</a>
                        <a href="#" class="list-group-item list-group-item-action">Autoajuda</a>
                        <a href="#" class="list-group-item list-group-item-action">Religiosos</a>
                        <a href="#" class="list-group-item list-group-item-action">Estudos</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <br>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="navFixed">
        <!-- Inicio do navbar Principal -->
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid" style="padding-right:0px">
                <div class="row" style="width:100%">
                    <!-- botao mobile menu -->
                    <div class="col-3 col-md-1 d-block d-md-none">
                        <button class="btn btn-light btn-sm" type="button" data-toggle="modal" data-target="#exampleModalLong">
                            <i class="material-icons" id="iconeMenu">view_headline</i>
                        </button>
                    </div>
                    <!-- Logo -->
                    <div class="col-6 col-md-2">
                        <a class="navbar-brand" href="#">
                            <img src="./imagens/logo3-07.png" height="40px" alt="Livraria Astec">
                        </a>
                    </div>
                    <!-- botao mobile CARRINHO E LOGIN -->
                    <div class="col-3 d-block d-md-none justify-content-end" id="mobileCarLog">
                        <div class="row">
                            <div class="col-6">
                                <i class="material-icons log">input</i>
                            </div>
                            <div class="col-6">
                                <div>
                                    <button class="btn btn-warning car" href="#">
                                        <i class="material-icons" style="font-size: 20px;margin:0px;padding:0px;color:#ffffff">shopping_cart</i>
                                    </button>
                                    <span class="badge badge-pill badge-danger" style="position: absolute;top:0px;right:0px;margin:auto">1</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- botao desktop LOGIN -->
                    <div class="col-3 col-md-3 order-11 d-none d-md-block">

                        <div class="media float-md-right">
                            <i class="material-icons align-self-center mr-3">input</i>
                            <div class="media-body">
                                <h5 class="mt-0"></h5>
                                <a href="#" class="mb-0">Entre
                                    <span href="#">ou Cadastre-se</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- botao desktop  CARRINHO-->
                    <div class="col-1 col-md-1 order-12 d-none d-md-block">
                        <div>

                            <button class="btn btn-warning" id="btnCarDesk" href="#">
                                <i class="material-icons">shopping_cart</i>
                                <span class="badge badge-pill badge-danger" style="position: absolute;top:0px">1</span>
                            </button>

                        </div>

                    </div>

                    <!-- SEARCHR BAR-->
                    <div class="col-sm-12 col-md-6">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" placeholder="O que procura?" aria-label="busca" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-light" type="button">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
        <!-- Fim do navbar Principal -->

        <!-- Inicio do nav das categorias -->

        <nav class="nav nav-pills nav-fill d-none d-md-block border-bottom border-primary" style="background:#f8f9fa">
            <ul class="nav nav-item nav-pills">

                <li class="nav-item nav-link dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Todas as Categorias</a>
                    <div class="dropdown-menu">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="dropdown-item">Drama</a>
                                <a href="#" class="dropdown-item">Romance</a>
                                <a href="#" class="dropdown-item">Suspense</a>
                                <a href="#" class="dropdown-item">Ficção Cientifica</a>

                                <a href="#" class="dropdown-item">Religiosos</a>
                                <a href="#" class="dropdown-item">Estudos</a>
                            </div>
                            <div class="col">
                                <a href="#" class="dropdown-item">Fantasia</a>
                                <a href="#" class="dropdown-item">Aventura</a>
                                <a href="#" class="dropdown-item">Comédia</a>
                                <a href="#" class="dropdown-item">Terror</a>
                                <a href="#" class="dropdown-item">Autoajuda</a>
                            </div>
                            <div class="col">


                            </div>
                        </div>



                    </div>
                </li>
                <li class="nav-item nav-link d-none d-lg-block d-xl-none">
                    <a class="nav-link" href="#">Romance</a>
                </li>
                <li class="nav-item nav-link d-none d-lg-block d-xl-none">
                    <a class="nav-link" href="#">Drama</a>
                </li>
                <li class="nav-item nav-link ">
                    <a class="nav-link" href="#">Fantasia</a>
                </li>
                <li class="nav-item nav-link d-none d-lg-block d-xl-none">
                    <a class="nav-link" href="#">Aventura</a>
                </li>
                <li class="nav-item nav-link d-none d-xl-block">
                    <a class="nav-link" href="#">Ficção cientifica</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="nav-link" href="#">Suspense</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="nav-link" href="#">Estudos</a>
                </li>
            </ul>
        </nav>

        <div class="finalVenda d-block d-md-none" style="background: white;padding: 20px;">
            <button class="btn btn-success btn-block">FINALIZAR VENDA</button>
        </div>

        <!-- fim do nav das categorias -->

    </div>


</body>

</html>