<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
    <div class="container">
        <div class="row">
            <!-- INICIO DA LISTAGEM DE PRODUTOS -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Carrinho</li>
                            </ol>
                        </nav>
                        <h3 style="margin-bottom:20px">Meu Carrinho </h3>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h5>Item(s)</h5>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <h5>Preço</h5>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <h5>Quantidade</h5>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <h5>Subtotal</h5>
                    </div>
                    <br>
                    <br>
                    <!-- INICIO PRODUTO -->
                    <div th:if="${@carrinhoController.pedido.itens.isEmpty()} == true" >Vazio</div>
                    <form action="/Carrinho/validandoPedido" method="POST" th:object="${ptemp}">
                        <div th:each="p, status : ${@carrinhoController.pedido.itens}" class="col-12 product border-top border-bottom" style="width: 100%;margin-left:0px;margin-right:0px; padding:3px;">
                            <div class="row" style="width: 100%;margin-left:0px;margin-right:0px">
                                <div class="col-sm-12 col-md-6">
                                    <div class="row" style="width:100%;margin-left:0px;margin-right:0px">
                                        <div class="col-4">
                                            <img class="img-fluid" src="./imagens/products/15.jpg" alt="Card image cap">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="card-title" style="font-size:17px" th:text="${p.produto.nome}">Aqui vai o Titulo do Livro</h5>
                                            <h6 style="font-size:12px;color: darkgrey" th:text="${p.produto.fabricante}">-Autor do livro</h6>
                                        </div>

                                        <div class="w-100"></div>
                                        <div class="col offset-4  d-block d-md-none">
                                            <br>
                                            <!-- <a class="material-icons" href="#" style="color: #007bff;font-size:15px;">remove_circle_outline</a> -->
                                            <!-- <span style="font-size:20px" th:text="${p.qtd}">1</span>-->
                                            <label>Qtd</label>
                                            <!-- <input type="number" name="qtd" min="1" max="100" th:value="${p.qtd}" th:field="*{quantidade}"/> -->
                                            <!-- <input type="hidden" th:value="${p.produto.id}" name="numero" th:field="*{idProduto}"/> -->
                                            <!-- <a class="material-icons" href="#" style="color: #007bff;font-size:15px">add_circle_outline</a> -->
                                        </div>
                                        <div class="col d-block d-md-none" style="text-align:right;margin-top:10px">
                                            <br>
                                            <label style="color: #4CAF50">
                                                <span style="font-size: 12px" th:text="|R$ ${p.produto.valorProduto}|"></span> 9999,99</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 d-none d-md-block">
                                    <br>
                                    <label style="color: #4CAF50;font-size: 25px">
                                        <span style="font-size: 25px" th:text="|R$ ${p.produto.valorProduto}|" id="precoUnitario"></label>
                                </div>
                                <div class="col-md-2 d-none d-md-block">
                                    <!-- <a class="material-icons" href="#" style="color: #007bff;font-size:20px;">remove_circle_outline</a> -->
                                    <!-- <span style="font-size:25px" th:text="${p.qtd}">2</span> -->
                                    <label>Qtd</label>
                                    <input type="hidden" th:field="*{items[__${status.index}__].idProduto}">
                                    <input type="number" min="1" max="100" th:field="*{items[__${status.index}__].qtd}"/>
                                    <!-- <a class="material-icons" href="#" style="color: #007bff;font-size:20px">add_circle_outline</a> -->
                                </div>
                                <div class="col-md-2 d-none d-md-block">
                                    <br>
                                    <label style="color: #4CAF50;font-size: 25px">
                                        <span style="font-size: 25px" th:text="${p.valorParcial}"></span></label>
                                </div>
                            </div>
                            <a class="material-icons" th:href="@{'/Carrinho/' + ${p.produto.id}}" style="color:red;position: absolute; top:3px;right:7px">delete_forever</a>
                        </div>
                        <br>
                        <br>
                <br>
                <div class="row">
                    <!-- INICIO DO INPUT DE DESCONTO -->
                    <!--
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <h6 style="color:#007bff">Incluir desconto ou vale presente</h6>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-primary" type="button">
                                            <i class="material-icons">card_giftcard</i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- FIM DO INPUT DE DESCONTO -->

                    <!-- INICIO DA FINALIZAÇAO DA COMPRA -->
                    <div class="col-sm-12 col-md-6  border-left border-primary">
                        <br>
                        <div class="w-100"></div>                            
                            <div class="col-12">
                                <div class="form-row">
                                    <div class="input-group col-7">
                                           <input type="text" class="form-control" placeholder="Digite seu CEP" aria-describedby="basic-addon2" required="" id="cep" name="cep">
                                           <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" onclick="pesquisacep()">OK</button>
                                            </div>
                                       </div>
                                    <br>
                                       <div class="col-md-6 mb-3">
                                           <label>Rua</label>
                                           <input class="form-control" type="text" id="rua" name="rua" disabled/>
                                           <div class="valid-feedback">
                                               ok!
                                           </div>
                                       </div>
                                       <div class="col-md-6 mb-3">
                                           <label>Bairro</label>
                                           <input class="form-control" type="text" id="bairro" name="bairro" disabled/>
                                           <div class="valid-feedback">
                                               ok!
                                           </div>
                                       </div>
                                       <div class="col-md-6 mb-3">
                                           <label>Cidade</label>
                                           <input class="form-control" type="text" id="cidade" name="cidade" disabled/>                                           <div class="valid-feedback">
                                               ok!
                                           </div>
                                       </div>
                                       <div class="col-md-6 mb-3">
                                           <label>Estado</label>
                                           <input class="form-control" type="text" id="estado" name="estado" disabled/>                                         <div class="valid-feedback">
                                               ok!
                                           </div>
                                       </div>
                                    <div class="col-md-6 mb-3">
                                           <label>Numero</label>
                                           <input class="form-control" type="text" id="estado" name="estado"/>                                         <div class="valid-feedback">
                                               ok!
                                           </div>
                                       </div>
                                    <div class="col-md-6 mb-3">
                                           <label>Complemento</label>
                                           <input class="form-control" type="text" id="estado" name="estado"/>                                         <div class="valid-feedback">
                                               ok!
                                           </div>
                                       </div>  
                                </div>
                            </div>
                        </div>
                    <div class="col-12" style="float: right;">
                        <div class="col" style="text-align:right;">
                            <label style="color: #4CAF50;font-size: 20px; text-align: right;"></label>
                            <span style="font-size: 20px">Valor total a pagar:</span>
                            <br>
                            <br>
                            <label style="color: #4CAF50;font-size: 25px;">
                                <span style="font-size: 25px" th:text="|R$ ${@carrinhoController.pedido.valorTotal}|">R$</span></label>
                        </div>
                        <br>
                        <div class="col-3" style="float: right;">
                            <form action="/carrinho/validandoPedido" method="POST">
                                <div>
                                    <button class="btn btn-success btn-block" type="submit">FINALIZAR VENDA</button>
                                </div>
                            </form>
                        </div> 
                    </div>
                    <!-- FIM DA FINALIZAÇAO DA COMPRA -->
                
                        
                    
                    <!-- FIM PRODUTO -->
                    <br>
                </div>
                <!-- FIM DA LISTAGEM DE PRODUTOS -->
                
            </div>
        </div>
    </div>
</div>
    <br>
    </div>