<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Contato</li>
            </ol>
        </nav>
        <h1 style="margin-bottom:20px">Trabalhe Conosco</h1>
        <br>
    </div>

    <div class="col-12" style="border-bottom: thin solid #007bff">
        <img src="/imagens/logo3-07.png" height="150px;">
        <br>
        <br>
        <br>
        <p>
            A Livraria Cultura se dedica a oferecer uma jornada cultural enriquecedora tanto para seus clientes
            quanto para os seus colaboradores. Para isso, contamos com uma equipe composta de perfis bem diversificados,
            que ama ler, ouvir música, assistir a filmes e séries, além de gostar muito de arte e, claro, está disposta a
            encantar nossos clientes. 
        </p>
        <p>
            Essas características fazem com que a equipe esteja disponível para a troca de experiências culturais e
            empresariais não apenas entre nossos próprios colaboradores, mas também entre nossos clientes.
        </p>
        <br>
        <br>
        
        <button class="btn" id="btnCarApp">
            <a href="/sobre/quemSomos" style="text-decoration: none"><i style="font-size: 20px;color:#ffffff;">Conheça mais sobre a história e valores da Livraria Astec</i></a>
        </button>
        <br>
        <br>
        <br>
    </div>
    <div class="col-12" style="border-bottom: thin solid #007bff">
        <br>
        <br>
        <h3 style="text-align: center;">Nossos Benefícios</h3>
        <h5 style="text-align: center;">Conheça os benefícios que a Livraria Astec disponibiliza para seus colaboradores.</h5>
        <br>
        <br>
        <ul style="text-align: left">
            <li>Vale-transporte</li>
            <li>Vale-refeição</li>
            <li>Assistência médica</li>
            <li>Assistência odontológica</li>
            <li>Seguro de vida</li>
            <li>Desconto na compra de produtos</li>
            <li>Licença maternidade de 6 mesês</li>
            <li>Licença paternidade de 20 dias</li>
        </ul>
        <br>
        <br>
    </div>
    <div class="col-12" style="text-align: center;">
            <br>
            <br>
        <h5>Envio de Currículo</h5>
        <label>Envie seu currículo para futuras oportunidades na Livraria Astec.</label>
        <label style="padding-bottom: 20px;">Mande email para: <b>recrutamento@livrariaastec.com.br</b></label>
    </div>
    
</div>
</div>