<div layout:decorate="~{index}" layout:fragment="conteudo"> 
    <div class="container">
        <div class="row">
            <!-- INICIO DA LISTAGEM DE PRODUTOS -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Detalhes do Livro</li>
                            </ol>
                        </nav>
                        <h3 style="margin-bottom:20px">Detalhes</h3>
                        <br>
                        <br>
                    </div>
                    <div class="col-12">

                        <div class="row">
                            <div class="col-md-5 text-center">
                                <img src="./imagens/products/15.jpg" class="rounded img-thumbnail" alt="..." style="height: 300px;width: auto">
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h3 class="card-title" th:text="${produto.nome}">Nao foi possivel carregar</h3>

                                    </div>
                                    <div class="col-12 text-center">
                                        <label th:text="${produto.fabricante}">Fabricante </label>

                                    </div>
                                    <div class="col-12 border-top border-bottom" style="text-align: justify;margin-bottom:5px">
                                        <p th:text="${produto.descricao}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur, augue
                                            nec pretium bibendum, ligula magna cursus diam, et lacinia magna ligula nec arcu.
                                            Etiam volutpat tempor leo, ac ullamcorper risus gravida vitae. Aliquam eget ex
                                            blandit, tincidunt tortor vel, mollis mauris. Integer quis imperdiet nibh. In
                                            consequat varius nulla, ultricies suscipit nisl sollicitudin et. Nam gravida
                                            consectetur convallis. Fusce enim tortor, lobortis nec erat sit amet, auctor
                                            sollicitudin sapien. </p>

                                    </div>

                                    <div class="col text-center">
                                        <h5 th:text="|R$ ${produto.valorProduto}|">9999,99</h5>
                                    </div>
                                    <div>
                                        aqui
                                        <form th:action="@{/sessao}" method="post">
                                            <input type="hidden" th:value="${produto.id}" id="numero" name="numero"/>
                                            <button type="submit">Enviar</button>
                                        </form>
                                    </div>
                                    <div class="col d-none d-md-block">
                                        <div th:if="${produto.status} == true">
                                            <a href="#" class="btn btn-primary btn-grid-carrinho btn-block" style="color: #ffc107">
                                                <i class="material-icons">add_circle_outlineshopping_cart</i>
                                                <span class="frase-btn-carrinho">Add carrinho</span>
                                        </div>
                                         <div th:if="${produto.status} == false">
                                            <a href="#" class="btn btn-primary btn-grid-carrinho btn-block" style="color: #ffc107">
                                                <i class="material-icons">add_circle_outlineshopping_cart</i>
                                                <span class="frase-btn-carrinho">Produto Indisponivel, Avise me!</span>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 
                            <div class="col-12 d-block d-md-none">
                                <a href="#" class="btn btn-primary btn-grid-carrinho btn-block" style="color: #ffc107">
                                        <i class="material-icons">add_circle_outlineshopping_cart</i>
                                        <span class="frase-btn-carrinho">Add carrinho</span>
                                </a>
                            </div>
                            -->
                        </div>
                        <br>
                        <br>


                    </div>

                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-active">
                                    <th scope="col" colspan="2">Informações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Peso:</td>
                                    <td th:text="${produto.peso}">00,0kg</td>
                                </tr>
                                <tr>

                                    <td>Produto sob encomenda:</td>
                                    <td th:if="${produto.status} == true">NÃO</td>
                                    <td th:if="${produto.status} == false">SIM</td>
                                </tr>
                                <tr>
                                    <td>Editora:</td>
                                    <td th:text="${produto.fabricante}">Lorem Ipsum</td>
                                </tr>
                                <tr>
                                    <td>I.S.B.N :</td>
                                    <td>978853530431</td>
                                </tr>
                                <tr>
                                    <td>Altura:</td>
                                    <td th:text="${produto.altura}">00,0cm</td>
                                </tr>
                                <tr>
                                    <td>Largura</td>
                                    <td th:text="${produto.largura}">00,0cm</td>
                                </tr>
                                <tr>
                                    <td>Profundidade:</td>
                                    <td th:text="${produto.profundidade}">00,0cm</td>
                                </tr>
                                <tr>
                                    <td>Numero de Paginas:</td>
                                    <td th:text="${produto.numPaginas}">9999</td>
                                </tr>
                                <tr>
                                    <td>Idioma:</td>
                                    <td th:text="${produto.idioma}">Português (Brasil)</td>
                                </tr>
                                <tr>
                                    <td>Acabamento:</td>
                                    <td th:text="${produto.acabamento}">Capa dura</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
