
<div class="row">



    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
        </nav>
        <h3 style="margin-bottom:20px">FAQs</h3>
        <br>
        <br>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Pergunta 1</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Pergunta 2</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Pergunta 3</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Pergunta 4</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">Pergunta 5</a>
                </div>
                <br>
                <br>
            </div>
            <div class="col-sm-12 col-md-8">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                    <h4 id="list-item-1">Pergunta 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim, turpis tempor
                        luctus sollicitudin, augue diam ullamcorper ante, ac ornare turpis justo id nulla.
                        Quisque odio nisi, vulputate sit amet condimentum ac, porta nec lectus. Vestibulum
                        ex tellus, malesuada id ligula non, sollicitudin tempus purus. Nam ut leo dapibus,
                        posuere augue a, molestie tellus. Mauris quis sem molestie, finibus diam eget, rhoncus
                        purus. Aenean tristique vehicula porta. Maecenas auctor purus tellus, at finibus
                        metus sagittis eu.</p>
                    <h4 id="list-item-2">Pergunta 2</h4>
                    <p>Quisque euismod nisl orci, placerat tempus justo vestibulum eget. Phasellus eleifend,
                        purus quis lobortis placerat, elit turpis cursus risus, eget ullamcorper urna odio
                        eget nisi. Maecenas tempus scelerisque tellus et varius. Donec et sapien consectetur,
                        gravida quam rutrum, semper urna. Aenean eleifend justo dui, ac sollicitudin lacus
                        iaculis eu. Etiam varius turpis nec velit vestibulum hendrerit. Mauris quis erat
                        ac sapien sodales scelerisque vel in neque. Fusce ultricies porta magna vel tristique.
                        In mattis, mi in semper pulvinar, odio magna dignissim odio, in volutpat leo tortor
                        vel dolor. Nam in ex tortor.</p>
                    <h4 id="list-item-3">Pergunta 3</h4>
                    <p>Sed ut neque laoreet, mattis tortor eget, convallis elit. Vestibulum pretium et lectus
                        et accumsan. Ut tincidunt semper sapien, vel convallis massa dictum id. Vivamus elit
                        odio, pulvinar scelerisque ligula sodales, maximus maximus elit. Vivamus lacinia
                        eleifend mi vel imperdiet. Nullam pulvinar consectetur venenatis. Mauris sit amet
                        nunc turpis. Nullam in ipsum sit amet est hendrerit volutpat. Sed ultrices ultricies
                        turpis maximus sodales. Sed ut mi pretium, consectetur dolor vel, porttitor ex.</p>
                    <h4 id="list-item-4">Pergunta 4</h4>
                    <p>Mauris ac tincidunt odio, vitae mollis ipsum. Mauris sollicitudin at tellus quis posuere.
                        Ut nec tincidunt nisl, id fermentum nunc. Pellentesque habitant morbi tristique senectus
                        et netus et malesuada fames ac turpis egestas. Vivamus enim metus, blandit a nisi
                        ac, semper ultricies sapien. Aliquam erat volutpat. Nulla non lorem quis erat egestas
                        condimentum. Praesent mattis lacus id dui mollis vulputate. Praesent arcu tellus,
                        mattis feugiat lobortis ornare, porttitor nec lorem. Quisque ullamcorper hendrerit
                        lacus, eget scelerisque dolor commodo in. Donec lacinia diam pulvinar metus euismod,
                        quis interdum ligula convallis. Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Cras suscipit viverra tincidunt. Integer mollis
                        erat eget justo consequat vehicula.</p>
                    <h4 id="list-item-5">Pergunta 5</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim, turpis tempor
                        luctus sollicitudin, augue diam ullamcorper ante, ac ornare turpis justo id nulla.
                        Quisque odio nisi, vulputate sit amet condimentum ac, porta nec lectus. Vestibulum
                        ex tellus, malesuada id ligula non, sollicitudin tempus purus. Nam ut leo dapibus,
                        posuere augue a, molestie tellus. Mauris quis sem molestie, finibus diam eget, rhoncus
                        purus. Aenean tristique vehicula porta. Maecenas auctor purus tellus, at finibus
                        metus sagittis eu.</p>
                </div>
            </div>


        </div>


        <br>
        <br>
    </div>


</div>