<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
<div class="row">



    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Perguntas Frequentes</li>
            </ol>
        </nav>
        <h2 style="margin-bottom:20px">Perguntas Frequentes</h2>
        <br>
    </div>

    <div class="col-12">
        <div class="row">
            
            <div class="col-sm-12 col-md-8">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                    <h4 style="color: #007bff">Esqueci minha senha. Como faço para recuperá-la?</h4>
                    <p style="color: gray">Caso não se lembre de sua senha de acesso ao nosso site, na página de identificação poderá informar
                        seu CPF ou e-mail cadastrado e clicar na opção Esqueci minha senha. Após realizar estes passos,
                        enviaremos uma mensagem para seu endereço de e-mail atual ou para um novo endereço, indicando o
                        passo a passo para recuperar a senha.Os descontos do +cultura são válidos somente para as compras
                    </p>
                    <h4 style="color: #007bff">Como contatar a Central de Atendimento?</h4>
                    <p style="color: gray">
                        Você pode nos encaminhar um e-mail a qualquer momento, <a href="/atendimento/entreContato">clicando aqui</a>. Ou se preferir, pode nos
                        contatar por telefone ou Chat, sendo que, o nosso horário de atendimento, nestes canais,
                        é das 8h às 20h, de segunda a sábado (exceto feriados).
                    </p>
                </div>
            </div>


        </div>


        <br>
        <br>
    </div>


</div>
</div>