<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Livraria Astec - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet" media="screen"  />

        <script src="js/main.js"></script>

    </head>

    <body>

        <div class="ajustar">
            <br>
        </div>
        <div class="container">
            <div class="row">

                <!-- inicio do slider-->
                

                <!-- fim do slider -->

                <div class="col-12">
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">

                        </div>

                        <div class="col-sm-12 col-md-6 d-sm-none d-md-block">

                        </div>
                    </div>
                    <div class="row">
                        <!-- Card -->
                        <div layout:fragment="conteudo">

                        </div>
                        <!--FIm do card -->
                        <!-- <div class="col-sm-12 col-md-4 col-lg-3">
                                                <div class="card text-center">
                                                    <img class="" src="./imagens/products/15.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Eu robo</h5>
                                                        <p class="card-text d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus ultrices elementum.
                                                            Duis vel est nec libero venenatis accumsan ut vel ex. </p>
                                                        <p class="card-text d-block d-md-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <label for="">R$</label>
                                                            </div>
                                                            <div class="col-9">
                                                                <h5 class="preco-produto">222,50</h5>
                                                            </div>
                                                            <div class="col-12">
                                                                <a href="#" class="btn btn-outline-primary btn-large btn-block">Detalhes</a>
                                                            </div>
                                                            <div class="col-12">
                        
                                                                <a href="#" class="btn btn-primary btn-grid-carrinho btn-block">
                                                                    <i class="material-icons">add_circle_outlineshopping_cart</i>
                                                                    <span class="frase-btn-carrinho">Add ao carrinho</span>
                        
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <nav class="navbar bg-light">
                <div class="container-fluid" style="width:100%">
                    <div class="row justify-content-center" style="width:100%">
                        <div class="col-12 col-md-3">
                            <h5 style="color: #007bff; padding-top: 10px;">Home</h5>
                            <ul class="nav flex-column" id="footerList">
                                <li class="navbar-brand"><a href="#">Promoções</a></li>
                                <li class="navbar-brand"><a href="#">Destaques</a></li>
                                <li class="navbar-brand"><a href="#">Descontos</a></li>
                                <li class="navbar-brand"><a href="#">Mais vendidos</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="list-group">
                                <h5 style="color: #007bff;padding-top: 10px;">Contato</h5>
                                <ul class="nav flex-column" id="footerList">
                                    <li class="navbar-brand"><a href="#">Entre em contato</a></li>
                                    <li class="navbar-brand"><a href="#">Perguntas e respostas</a></li>
                                    <li class="navbar-brand"><a href="#">Política de vendas</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="list-group">
                                <h5 style="color: #007bff;padding-top: 10px;">Produtos</h5>
                                <ul class="nav flex-column" id="footerList">
                                    <li class="navbar-brand"><a href="#">Romance</a></li>
                                    <li class="navbar-brand"><a href="#">Terror</a></li>
                                    <li class="navbar-brand"><a href="#">Comédia</a></li>
                                    <li class="navbar-brand"><a href="#">Estudos</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-md-3 justify-content-sm-center">
                            <div class="row">
                                <div class="col-12">
                                    <h5 style="font-size:15px;color: #007bff;padding-bottom: 15px;text-align: center;">Midias sociais</h5>
                                    <div class="row justify-content-start">
                                        <div class="col">
                                            <img src="./imagens/redes-sociais/facebook.png" class="img-fluid" alt="logo facebook">
                                        </div>
                                        <div class="col">
                                            <img src="./imagens/redes-sociais/twitter.png" class="img-fluid" alt="logo twitter">
                                        </div>
                                        <div class="col">
                                            <img src="./imagens/redes-sociais/youtube.png" class="img-fluid" alt="logo youtube">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" align="middle">
                                    <h5 style="font-size:15px;color: #007bff; padding-top: 20px;text-align:center;">Metodos de pagamento</h5>
                                    <br>
                                    <img src="./imagens/payment_methods.png" alt="Payments Methods" id="imgPayments">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="text-align: center; ">Livraria Astec todos os direitos reservados. Copyrights 2018</div>
            </nav>
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document" style="width:80%">
                <div class="modal-content">
                    <div class="modal-header btn btn-primary">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color:#ffffff">Categorias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Drama</a>
                            <a href="#" class="list-group-item list-group-item-action">Romance</a>
                            <a href="#" class="list-group-item list-group-item-action">Suspense</a>
                            <a href="#" class="list-group-item list-group-item-action">Ficção Cientifica</a>
                            <a href="#" class="list-group-item list-group-item-action">Fantasia</a>
                            <a href="#" class="list-group-item list-group-item-action">Aventura</a>
                            <a href="#" class="list-group-item list-group-item-action">Comédia</a>
                            <a href="#" class="list-group-item list-group-item-action">Terror</a>
                            <a href="#" class="list-group-item list-group-item-action">Autoajuda</a>
                            <a href="#" class="list-group-item list-group-item-action">Religiosos</a>
                            <a href="#" class="list-group-item list-group-item-action">Estudos</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="navFixed">
            <!-- Inicio do navbar Principal -->
            <nav class="navbar navbar-dark bg-primary">
                <div class="container-fluid" style="padding-right:0px">
                    <div class="row" style="width:100%">
                        <!-- botao mobile menu -->
                        <div class="col-3 col-md-1 d-block d-md-none">
                            <button class="btn btn-light btn-sm" type="button" data-toggle="modal" data-target="#exampleModalLong">
                                <i class="material-icons" id="iconeMenu">view_headline</i>
                            </button>
                        </div>
                        <!-- Logo -->
                        <div class="col-6 col-md-2">
                            <a class="navbar-brand" href="/">
                                <img src="./imagens/logo3-07.png" href="index.html" height="40px" alt="Livraria Astec">
                            </a>
                        </div>
                        <!-- botao mobile CARRINHO E LOGIN -->
                        <div class="col-3 d-block d-md-none justify-content-end" id="mobileCarLog">
                            <div class="row">
                                <div class="col-6">
                                    <i class="material-icons log">input</i>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <button class="btn btn-warning" >
                                            <a href="/Carrinho"><i class="material-icons" style="font-size: 20px;margin:0px;padding:0px;color:#ffffff">shopping_cart</i></a>
                                        </button>
                                        <span class="badge badge-pill badge-danger" style="position: absolute;top:0px;right:0px;margin:auto">1</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- botao desktop LOGIN -->
                        <div class="col-3 col-md-3 order-11 d-none d-md-block">
                            <div class="media float-md-right">
                                <i class="material-icons align-self-center mr-3">input</i>
                                <div class="media-body">
                                    <h5 class="mt-0"></h5>
                                    <button type="button" class="btn btn-primary">
                                        <a href="/login" id="entreCad">Entre ou Cadastre-se</a>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <!-- botao desktop  CARRINHO-->
                        <div class="col-1 col-md-1 order-12 d-none d-md-block">
                            <div>
                                
                                <button type="submit" class="btn" id="btnCarDesk" >
                                    <a href="/Carrinho"><i class="material-icons">shopping_cart</i></a>
                                </button>
                            </div>

                        </div>

                        <!-- SEARCHR BAR-->
                        <div class="col-sm-12 col-md-6">
                            <div class="input-group mb-3">
                                <input type="search" class="form-control" placeholder="O que procura?" aria-label="busca" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button">
                                        <i class="material-icons">search</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
            <!-- Fim do navbar Principal -->

            <!-- Inicio do nav das categorias -->

            <nav class="nav nav-pills nav-fill d-none d-md-block border-bottom border-primary" style="background:#f8f9fa">
                <ul class="nav nav-item nav-pills">

                    <li class="nav-item nav-link dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Todas as Categorias</a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col" th:each="c :${categorias}">
                                    <a href="#" class="dropdown-item" th:text="${c.nome}">Drama</a>
                                    <!--                                <a href="#" class="dropdown-item">Romance</a>
                                                                    <a href="#" class="dropdown-item">Suspense</a>
                                                                    <a href="#" class="dropdown-item">Ficção Cientifica</a>
                                    
                                                                    <a href="#" class="dropdown-item">Religiosos</a>
                                                                    <a href="#" class="dropdown-item">Estudos</a>-->
                                </div>
                                <!--                            <div class="col">
                                                                <a href="#" class="dropdown-item">Fantasia</a>
                                                                <a href="#" class="dropdown-item">Aventura</a>
                                                                <a href="#" class="dropdown-item">Comédia</a>
                                                                <a href="#" class="dropdown-item">Terror</a>
                                                                <a href="#" class="dropdown-item">Autoajuda</a>
                                                            </div>
                                                            <div class="col">
                                
                                
                                                            </div>-->
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-link d-none d-lg-block d-xl-none">
                        <a class="nav-link" href="#">Romance</a>
                    </li>
                    <li class="nav-item nav-link d-none d-lg-block d-xl-none">
                        <a class="nav-link" href="#">Drama</a>
                    </li>
                    <li class="nav-item nav-link ">
                        <a class="nav-link" href="#">Fantasia</a>
                    </li>
                    <li class="nav-item nav-link d-none d-lg-block d-xl-none">
                        <a class="nav-link" href="#">Aventura</a>
                    </li>
                    <li class="nav-item nav-link d-none d-xl-block">
                        <a class="nav-link" href="#">Ficção cientifica</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="nav-link" href="#">Suspense</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="nav-link" href="#">Estudos</a>
                    </li>
                </ul>
            </nav>

            <div class="finalVenda d-block d-md-none" style="background: white;padding: 20px;">
                <button class="btn btn-success btn-block">FINALIZAR VENDA</button>
            </div>
            <!-- fim do nav das categorias -->
        </div>
        <script src="js/viacep.js"></script>
    </body>
</html>