<div layout:decorate="~{index}" layout:fragment="conteudo"> 
    <div class="container">
        <div class="row">

            <div class="col-12">

                <h2 style="margin-bottom:20px">Login</h3>

            </div>
            
            <div class="col-12">
                <form class="needs-validation" novalidate>
                    <fieldset id="fieldCad">
                        
                        <div class="col-12">

                            <h3 style="margin-bottom:5px">Já sou cadastrado</h3>

                        </div>
                        
                        <div class="col-12">
                            <label for="validationCustomEmail">* E-mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">mail_outline</i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="validationCustomEmail" placeholder="usuario@email.com" aria-describedby="inputGroupPrepend"
                                       required>
                                <div class="invalid-feedback">
                                    Por favor coloque um e-mail valido. Ex: usuario@email.com
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="validationPassword">* Senha</label>
                            <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">
                                    <i class="material-icons">vpn_key</i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="validationPassword" placeholder="Senha" required>
                            <div class="valid-feedback">
                                ok!
                            </div>
                            <div class="invalid-feedback">
                                Por favor coloque uma senha valida.
                            </div>
                            </div>
                        </div>
                        </br>
                    <button class="btn" type="submit" id="btnSalvar">Login</button>
                    
                    <div class="col-12">
                            <label for="validationCustomEmail">* E-mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">mail_outline</i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="validationCustomEmail" placeholder="usuario@email.com" aria-describedby="inputGroupPrepend"
                                       required>
                                <div class="invalid-feedback">
                                    Por favor coloque um e-mail valido. Ex: usuario@email.com
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!--
            <div class="col-md-7">
                <form class="needs-validation" novalidate>
                    <fieldset id="fieldCad">
                        
                        
                        <div class="col-12">

                            <h3 style="margin-bottom:20px">Cadastre-se no site</h3>

                        </div>
                        
                        
                        <div class="col-12">
                            <label for="validationCustomEmail">* E-mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">mail_outline</i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="validationCustomEmail" placeholder="usuario@email.com" aria-describedby="inputGroupPrepend"
                                       required>
                                <div class="invalid-feedback">
                                    Por favor coloque um e-mail valido. Ex: usuario@email.com
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationPassword">* Senha</label>
                            <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">
                                    <i class="material-icons">vpn_key</i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="validationPassword" placeholder="Senha" required>
                            <a href="#">Esqueceu sua senha?</a>
                            <div class="valid-feedback">
                                ok!
                            </div>
                            <div class="invalid-feedback">
                                Por favor coloque uma senha valida.
                            </div>
                            </div>
                        </div>
                    <button class="btn" type="submit" id="btnSalvar">Login</button>
                    </fieldset>
                </form>
            </div>
            -->
        </div>
        <br>
        <br>
    </div>
</div>