<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
    <div class="container">
        <div class="row" style="background-color:#f8f9fa">
           

            <div class="col-12">

                <h3 style="margin-bottom:20px">Login</h3>

            </div>

            <div class="col-xs-6" id="oi">
                <form class="needs-validation" th:action="@{/login}" th:object="${user}" method="post">
                    <div class="form-row">
                        <div class="col-md-11">
                            <label for="validationCustomEmail">* E-mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="material-icons">mail_outline</i>
                                    </span>
                                </div>
                                <input type="email" 
                                       class="form-control" 
                                       id="validationCustomEmail" 
                                       placeholder="usuario@email.com" 
                                       aria-describedby="inputGroupPrepend"
                                       th:field="*{email}"
                                       required>
                                <div class="invalid-feedback">
                                    Por favor coloque um e-mail valido.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            </br>
                            <label for="validationPassword">* Senha</label>
                            <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">
                                    <i class="material-icons">vpn_key</i>
                                </span>
                            </div>
                            <input type="password" 
                                   class="form-control" 
                                   id="validationPassword" 
                                   placeholder="Senha" 
                                   th:field="*{senha}" 
                                   required>
                            <div class="valid-feedback">
                                ok!
                            </div>
                            <div class="invalid-feedback">
                                Por favor coloque uma senha valida.
                            </div>
                            </div>
                        </div>
                    </div>
                        </br>
                    <button class="btn" type="submit" id="btnLogin">
                        <a href="/index" id="letraCad">Login</a>
                    </button>
                </form>
            </div>
            <div class="col-xs-6" id="barra"><b>Não sou cadastrado! </b>
                </br>
                </br>
                Para comprar em nosso site é preciso realizar um cadastro. Através</br> dele você fará parte do Programa de Fidelidade Saraiva Plus.</br> E também ficará por dentro das novidades, ofertas e promoções.
                </br>
                </br>
                </br>
                <button class="btn" type="submit" id="btnSalvar">
                    <a href="/cadastroCliente" id="letraCad">Cadastre-se</a>
                </button>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>