<div layout:decorate="~{index2}" layout:fragment="conteudo">

    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">Gerenciamento</li>
            </ol>
        </nav>


        <h3 style="margin-bottom:20px">Minha Conta</h3>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
               aria-selected="true">Meus Dados</a>
            <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
               aria-selected="false">Meus Endereços</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
               aria-selected="false">Meus Pedidos</a>
        </div>
        <br>
        <br>
    </div>
    <div class="col-sm-12 col-md-8">

        <h4>Meus Endereços</h4>
        <br>
        <p>Se você está atualizando seus endereços, clique em "Editar" no endereço desejado e depois clique
            em "Salvar endereço". Para adicionar outro endereço, clique em "Incluir outro endereço".</p>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h6>Endereço padrão de faturamento</h6>

                    </div>
                    <div class="col-12" style="background: #f8f9fa">
                        <div class="row">
                            <!-- END FATURAMENTOS -->
                            <hr>
                            <div class="col-9" style="font-size: 12px">

                                <label>
                                    <span>NOME E SOBRENOME</span>
                                    <br>
                                    <span>Avenida Rua , 000</span>
                                    <br>
                                    <span>ESTADO</span>,
                                    <span>Cidade</span>,
                                    <span>CEP</span>
                                    <br>
                                    <span>País</span>
                                    <br> T:
                                    <span>00 0000-0000</span>
                                    <br>

                                </label>
                            </div>
                            <div class="col-3" style="font-size: 12px">
                                <a href="#" style="color: #ffc107;font-size: 15px"><b>EDITAR</b></a>
                            </div>
                            <hr>
                        </div>
                    </div>



                </div>
                <br><br>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h6>Endereço padrão de Entrega</h6>

                    </div>
                    <div class="col-12" style="background: #f8f9fa">
                        <div class="row">
                            <!-- END FATURAMENTOS -->
                            <hr>
                            <div class="col-9" style="font-size: 12px">

                                <label>
                                    <span>NOME E SOBRENOME</span>
                                    <br>
                                    <span>Avenida Rua , 000</span>
                                    <br>
                                    <span>ESTADO</span>,
                                    <span>Cidade</span>,
                                    <span>CEP</span>
                                    <br>
                                    <span>País</span>
                                    <br> T:
                                    <span>00 0000-0000</span>
                                    <br>

                                </label>
                            </div>
                            <div class="col-3" style="font-size: 12px">
                                <a href="#" style="color: #ffc107;font-size: 15px"><b>EDITAR</b></a>
                            </div>
                            <hr>
                        </div>
                    </div>



                </div>
                <br><br>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h6>Endereços Adicionais</h6>

                    </div>

                    <div class="col-12" style="background: #f8f9fa">
                        <div class="row">
                            <!-- END FATURAMENTOS -->
                            <hr>
                            <div class="col-9" style="font-size: 12px">

                                <label>
                                    <span>NOME E SOBRENOME</span>
                                    <br>
                                    <span>Avenida Rua , 000</span>
                                    <br>
                                    <span>ESTADO</span>,
                                    <span>Cidade</span>,
                                    <span>CEP</span>
                                    <br>
                                    <span>País</span>
                                    <br> T:
                                    <span>00 0000-0000</span>
                                    <br>

                                </label>
                            </div>
                            <div class="col-3" style="font-size: 12px">
                                <a href="#" style="color: #ffc107;font-size: 15px"><b>EDITAR</b></a>
                            </div>
                            <hr>
                            <div class="col-9" style="font-size: 12px">

                                <label>
                                    <span>NOME E SOBRENOME</span>
                                    <br>
                                    <span>Avenida Rua , 000</span>
                                    <br>
                                    <span>ESTADO</span>,
                                    <span>Cidade</span>,
                                    <span>CEP</span>
                                    <br>
                                    <span>País</span>
                                    <br> T:
                                    <span>00 0000-0000</span>
                                    <br>

                                </label>
                            </div>
                            <div class="col-3" style="font-size: 12px">
                                <a href="#" style="color: #ffc107;font-size: 15px"><b>EDITAR</b></a>
                            </div>
                            <hr>
                            <div class="col-9" style="font-size: 12px">

                                <label>
                                    <span>NOME E SOBRENOME</span>
                                    <br>
                                    <span>Avenida Rua , 000</span>
                                    <br>
                                    <span>ESTADO</span>,
                                    <span>Cidade</span>,
                                    <span>CEP</span>
                                    <br>
                                    <span>País</span>
                                    <br> T:
                                    <span>00 0000-0000</span>
                                    <br>

                                </label>
                            </div>
                            <div class="col-3" style="font-size: 12px">
                                <a href="#" style="color: #ffc107;font-size: 15px"><b>EDITAR</b></a>
                            </div>
                            <hr>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-12 text-center">
                <hr>
                <button class="btn btn-primary btn-block">
                    Adicionar novo endereço
                </button>
                <hr>

            </div>


        </div>

    </div>

</div>