
<div class="row">



    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Carrinho</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Entrega</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Pagamento</li>
            </ol>
        </nav>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                 aria-valuemax="100" style="width: 95%">95% Da Compra Concluida</div>
        </div>
        <br>
        <h3 style="margin-bottom:20px">Pagamento</h3>
        <br>
        <br>
    </div>

    <!--- fomulario de entrega -->



    <div class="container">
        <div class="row" style="margin: 10px">
            <div class="col-12 nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active border border-warning" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true" style="width: 50%">Credito</a>
                <a class="nav-link border border-warning" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false" style="width: 50%">Boleto</a>

            </div>

        </div>
        <br>
    </div>

    <div class="tab-content col-12 " id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputCustom">Cartão</label>
                        <select id="inputCustom" class="form-control">
                            <option selected>Escolha...</option>
                            <option>Visa</option>
                            <option>Mastercard</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCustom2">Numero do cartão</label>
                        <input type="text" class="form-control" id="inputCustom2" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCustom3">Nome do titular</label>
                        <input type="text" class="form-control" id="inputCustom3 " placeholder="">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="inputCustom4">Validade</label>
                        <input type="text" class="form-control" id="inputCustom4" placeholder="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCustom5">Codigo de segurança</label>
                        <input type="text" class="form-control" id="inputCustom5" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCustom6">CPF DO TITULAR</label>
                        <input type="text" class="form-control" id="inputCustom6" placeholder="">
                    </div>
                </div>
                <br>
                <br>
                <div class="col-sm-12 col-md-6 offset-md-6  border-left border-primary">
                    <div class="row">
                        <div class="col">
                            <label for="">Subtotal (x Itens)</label>
                        </div>
                        <div class="col" style="text-align:right">
                            <label for="">R$
                                <span>444,00</span>
                            </label>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label for="">Valor total a pagar:</label>
                        </div>
                        <div class="col" style="text-align:right">
                            <label for="" style="color:lightgray;font-size:12px;text-decoration: line-through">De R$ 500,00</label>
                            <br>
                            <label style="color: #4CAF50;font-size: 25px">
                                <span style="font-size: 12px">R$</span> 444,00</label>

                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <div style="padding: 20px;">
                                <button type="submit" class="btn btn-success btn-block">FINALIZAR VENDA</button>
                            </div>

                        </div>
                    </div>

                </div>
                <br>
                <br>
            </form>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            ...
        </div>
    </div>


    <div class="col-12">

    </div>



    <!-- fim do formulario de entrega -->



</div>