<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Politica de Vendas</li>
            </ol>
        </nav>
        <h1 style="margin-bottom:20px">Politica de Vendas</h1>
        <br>
    </div>

    <div class="col-12">
        
        <h4 style="color: #007bff;">Estoque e Pedidos</h4>
        <p style="color: gray">
            Nossos estoques são limitados, portanto, para garantir o seu produto, conclua o seu pedido o quanto antes,
            pois a inclusão do produto no "carrinho de compras" não é garantia de que o produto esteja reservado para
            posterior finalização do pedido.
        </p>
        <br>
        <h4 style="color: #007bff;">Confirmação de Pedido</h4>
        <p style="color: gray">
            Para que o seu pedido de compra seja processado é necessário que o procedimento de compra seja finalizado e
            que recebamos a confirmação do pagamento pelo seu agente financeiro, paralelamente realizamos uma análise dos
            seus dados cadastrais, na tentativa de evitar eventuais fraudes e visando garantir uma maior segurança em suas
            compras, conforme descrito em nossa “politica de privacidade”. Para os pedidos parcelados no cartão de crédito,
            compostos por mais de um produto, poderá ocorrer uma redução do número de parcelas caso o valor mínimo de cada
            parcela não atinja o limite estabelecido pelas operadoras de cartão de crédito.
        </p>
        <br>
        <h4 style="color: #007bff;">Promoções e Encomendas</h4>
        <p style="color: gray">
           Os produtos em promoção estão limitados à disponibilidade do nosso estoque, ou seja, a promoção é válida enquanto
           durar o estoque. O mesmo é válido para as encomendas, as quais estão sujeitas à disponibilidade do estoque do
           fornecedor.
        </p>
        <br>
        <h4 style="color: #007bff;">Vendas Corporativas</h4>
        <p style="color: gray">
           A Livraria Astec se reserva o direito de atender apenas vendas no varejo destinadas a consumidores finais.
           As vendas Corporativas em condições diferentes das dispostas no site deverão ser objeto de consulta ao nosso
           departamento de Vendas Corporativas pelo e-mail <a href="#">livros@livrariaastec.com.br</a>
        </p>
        <br>
        <h4 style="color: #007bff;">Condições Gerais</h4>
        <p style="color: gray">
          Importante esclarecer que os preços, condições de pagamento e fretes aqui apresentados são válidos exclusivamente
          para as compras efetuadas em nosso ambiente on line , não valendo, necessariamente, para as nossas lojas físicas.
          Tais condições são validas exclusivamente durante o ato de sua exibição atráves da nossa home page.
          Apenas aos pedidos efetivamente formulados e aceitos, ou seja, na fase de "finalização" da compra, não se aplicarão
          eventuais alterações posteriores de preço e condições de pagamento.
        </p>
        

    </div>
</div>
    </div>