<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Projetos Sociais</li>
                </ol>
            </nav>
            <h3 style="margin-bottom:20px">Projetos Sociais</h3>
            <br>
        </div>
        <div class="col-12" style="text-align: center;border-bottom: thin solid #007bff">
            <img src="../imagens/outros/crianças.jpg">
            <br>
            <br>
            <h3>“Apoio todos os tipos de projetos sociais de guardas mirins,
                desde que não fazeis dos Projetos Exércitos de crianças.”</h3>
            <h6 style="text-align: right">Mohammed Haziz</h6>
            <br>
            <br>
        </div>
        <div class="col-12">
            <br>
            <br>
            <h3 style="color:#007bff">Instituições beneficiadas:</h3>
            <br>
            <img src="../imagens/outros/instituicoes-beneficiadas.jpg" style="padding-bottom: 20px;">
        </div>
    </div>
</div>