<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
<div class="row">



    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Quem Somos</li>
            </ol>
        </nav>
        <h3 style="margin-bottom:20px">Quem Somos</h3>
        <br>
    </div>

    <div class="col-12" style="border-bottom: thin solid #007bff;;">
        <div class="col-5" style="text-align: justify; float: left">
            <p>Uma história de sucesso que se inicia com o sonho de Diogo Santos: construir uma livraria
               para promover o encontro de pessoas com os mais variados interesses. E foi em busca desse
               sonho que, há 5 anos, Diogo Santos fundou a Livraria Astec. A empresa teve um início tímido
               na casa da família Santos e, atualmente, é referência nacional com 18 lojas distribuídas pelo
               Brasil (em São Paulo, Campinas, Ribeirão Preto, Rio de Janeiro, Brasília, Salvador, Recife,
               Fortaleza, Curitiba e Porto Alegre).
               </p>
               <br>
               <p>
               Atualmente, a Livraria Astec se dedica a oferecer um espaço multimídia, onde a busca pelo produto
               é apenas o início de uma jornada enriquecedora: nossas lojas dão vida à cultura por meio de seu extenso
               acervo e também de seus teatros, auditórios, cafés e eventos gratuitos. Venha nos conhecer!</p>
        </div>
        <div class="col-7"  style="float: right;">
            <img src="/imagens/outros/biblioteca.jpg" class="img-fluid" alt="biblioteca" style="height: 410px; width: 650px;padding-bottom: 20px;padding-left: 40px;">
            </br>
            </br>
            </br>
        </div>
    </div>
    <div class="col-12">
        <br>
        <div class="col-6" style="float: left;">
            </br>
            </br>
            <h4 style="color: #007bff;">MISSÃO</h4>
            </br>
            <h6>O que da significado ao nosso trabalho?</h6>
            <p>Disponibilizar um acervo de títulos completo, com equipe de colaboradores competente e treinada,
               orientada a fazer do momento da compra uma experiência única de descoberta e prazer.</p>
        </div>
        <div class="col-6" style="float:right;">
            </br>
            </br>
            <h4 style="color: #007bff;">VISÃO</h4>
            </br>
            <p>Nosso objetivo é ser a melhor loja de entretenimento e informação,
               nos consolidando como a grande referência do setor.</p>
            
            <p>Quanto mais crescermos, mais vamos disseminar essa informação,
               ajudando as pessoas a construir e viver em um mundo melhor e mais justo.</p>
            </br>
            </br>
            </br>
        </div>
    </div>
    
</div>
</div>