<div layout:decorate="~{index2}" layout:fragment="conteudo"> 
    <div class="container" >
        <div class="row" >
            <!-- INICIO DA LISTAGEM DE PRODUTOS -->
            <div class="col-12">

                <div class="row">

                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Perfil</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Vendas Realizadas</li>
                            </ol>
                        </nav>
                        <h3 style="margin-bottom:20px">Vendas Realizadas</h3>

                    </div>


                    <div class="col-3 d-none d-md-block">
                        <h5>Protocolo</h5>
                    </div>
                    <div class="col-3 d-none d-md-block">
                        <h5>Cliente</h5>
                    </div>
                    <div class="col-3 d-none d-md-block">
                        <h5>Data</h5>
                    </div>
                    <div class="col-3 d-none d-md-block">
                        <h5>Valor</h5>
                    </div>
                    <br>
                    <br>

                    <div class="col-12 product border-top border-bottom" style="width: 100%;margin-left:0px;margin-right:0px; padding:3px;">
                        <div class="row"  th:each="venda : ${vendas}">
                                <div class="col-md-3 col-6">

                                    <label for="Protocolo">
                                        <span class="nomeAtributo d-block d-md-none" >Protocolo: </span>
                                        <h5 th:text="${venda.id}"></h5>
                                    </label>
                                </div>
                                <div class="col-md-3 col-6">

                                    <label for="NomeCliente">
                                        <span class="nomeAtributo d-block d-md-none">Nome:</span>
                                        <!-- <h4 th:text="${venda.cliente}"></h4> -->
                                    </label>
                                </div>
                                <div class="col-md-3 col-6">

                                    <label for="Data">
                                        <span class="nomeAtributo d-block d-md-none">Data venda:</span>
                                        <h5 th:text="${venda.dataVenda}"></h5>
                                    </label>
                                </div>
                                <div class="col-md-3 col-6">

                                    <label for="Valor">
                                        <span class="nomeAtributo d-block d-md-none">Valor Compra:</span>
                                        <h5 th:text="|R$ ${venda.valorTotal}|"></h5>
                                    </label>
                                </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-12">
                        <br>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    -->
                </div>
                <!-- FIM DA LISTAGEM DE PRODUTOS -->




            </div>
        </div>
    </div>
    <br>
    <br>
</div>